dnd/.obsidian/hotkeys.json
dnd/.obsidian/graph.json
dnd/.obsidian/core-plugins.json
dnd/.obsidian/community-plugins.json
dnd/.obsidian/appearance.json
dnd/.obsidian/app.json
.DS_Store
dnd/.obsidian/plugins/obsidian-citation-plugin/main.js
dnd/.obsidian/plugins/obsidian-citation-plugin/manifest.json
dnd/.obsidian/plugins/obsidian-citation-plugin/styles.css
dnd/.obsidian/plugins/table-editor-obsidian/data.json
dnd/.obsidian/plugins/table-editor-obsidian/main.js
dnd/.obsidian/plugins/table-editor-obsidian/manifest.json
dnd/.obsidian/plugins/table-editor-obsidian/styles.css
dnd/.obsidian/plugins/templater-obsidian/main.js
dnd/.obsidian/plugins/templater-obsidian/manifest.json
dnd/.obsidian/plugins/templater-obsidian/styles.css
dnd/.obsidian/workspace
mercury/.obsidian/app.json
mercury/.obsidian/appearance.json
mercury/.obsidian/core-plugins-migration.json
mercury/.obsidian/core-plugins.json
mercury/.obsidian/graph.json
mercury/.obsidian/hotkeys.json
mercury/.obsidian/workspace
mercury/.obsidian/workspace.json
sensors-term-paper/.obsidian/app.json
sensors-term-paper/.obsidian/appearance.json
sensors-term-paper/.obsidian/core-plugins.json
sensors-term-paper/.obsidian/hotkeys.json
sensors-term-paper/.obsidian/themes/Blue Topaz.css
sensors-term-paper/.obsidian/themes/Slytherin.css
sensors-term-paper/.obsidian/themes/Sodalite.css
sensors-term-paper/.obsidian/themes/Wasp.css
sensors-term-paper/.obsidian/themes/Wyrd.css
sensors-term-paper/.obsidian/workspace
sensors-term-paper/.obsidian/workspace-mobile.json
